/*.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}*/
/* App.css */

/* Define the fadeIn animation */
@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

/* Apply the animation to the welcome-message class */
.welcome-message {
  animation: fadeIn 2s; /* Animation lasts for 2 seconds */
  font-size: 2.5rem; /* Larger text */
  color: #333; /* Dark gray color */
  text-align: center; /* Center the text */
  margin-top: 20px; /* Add some space at the top */
}
